header {
    background: salmon;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    margin: 0 auto;
    box-shadow: 5px 10px 8px 2px #888888;
}

.card-header {
    background: cornflowerblue;
}

.card-body {
    background: lightgrey;
}